html {
  cursor: none; 
}

body {
  -webkit-user-select: none; /* Safari, Chrome, Opera */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE 10+ and Edge */
  user-select: none;         /* Standard syntax */
}

#fake-cursor {
    width: 0px;
    height: 0px;
    background-color: blue;
    border-radius: 50%;
    position: fixed;
    pointer-events: none; 
    transform: translate(-50%, -50%); 
    z-index: 9990;
}

#cursor-image {
    z-index: 9999;
}

.rope-part { 
    position: absolute;
    width: 5px;          
    height: 10px;         
    background-color: rgb(140, 140, 140); 
    border-radius: 40%;   /* Optional: makes the rope segments circular */
    pointer-events: none; 
    z-index: 10;
}

.final-rope-part {
    width: 0px;          
    height: 0px;   
}

.container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: dodgerblue;
  padding: 10px;
  gap: 5px;
  border-radius: 5px;
  cursor: none; 
}

.container button {
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 30px;
  text-align: center;
  border-radius: 5px;
  width: 70px;
  height: 70px;
  cursor: none; 
}

.screen-container {
  display: flex;
  justify-content: center; /* Horizontally centers the box */
  align-items: center;    /* Vertically centers the box */
  height: 100vh;          /* Takes up 100% of the viewport height */
  width: 100vw;           /* Takes up 100% of the viewport width */
  margin: 0;
}


button.pressed {
  background-color: gray;
  color: white;
  transform: scale(0.95);
} 